/** Add css rules here for your application. */

.twitterUpdate {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-top-color: #999999;
	border-bottom-color: #999999;
}

.twitterUpdateMetaData	{
	font-size:70%;
	font-style:italic;
}

.bottonIcon {
	background-color: #FFFFFF;
	cursor: pointer;
	
}

.userScreenName {
	font-weight:bold;
}

