/** Add css rules here for your application. */


body {
background:#9CE7EF;
}
#topPanel {
	background:#9CE7EF;
	width:100%;
}
#userInfo {
	background:#FFFFFF;
	padding-top:5px;
	padding-bottom:4px;
	text-align:right;
	width:98%;
	
}
#main {
	padding-top:0px;
	background:#FFFFFF;
	
}
.search-panel {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
}
.user_options {
	border-top-width: 1px;
	border-top-style: solid;
	padding:0px;

}
.twitterUpdate {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dashed;
	padding:0px;
/*	border-bottom-style: dashed;
	border-top-color: #999999;
	border-bottom-color: #999999;*/
}

.twitterUpdateMetaData, tweetReplyMetadata	{
	font-size:80%;
	font-style:italic;
	padding:0px;
}
.userImageReply {
	margin-left :40px;
}
.tweet {

}
.tweetReplyMetadata {
	font-size:70%;
}

.tweetReply {
	font-size:90%;
}



.currentTweet {
	background:#FFFFCC;
	padding:0px;
}
.tweetOptions {
	
	
}
.bottonIcon {
	background-color: #FFFFFF;
	cursor: pointer;
	
}

.userScreenName {
	font-weight:bold;
}

.error {
	color:#990000;
}

.input {
	border: 1px solid #CCCCCC;		

}
.link {
	color:#0000CC;
	cursor: pointer;
	text-decoration:underline;

}

.loginWnd {

}

#main {
	position:absolute;
	left: 50%;
	width:740px;	
	margin-left: -370px; /*set to a negative number 1/2 of your width*/
	
}

a.linkButton {
	border: 1px solid #999999;

}

.list_item_over {
	background:#F2F2F2;
	cursor: pointer;
	/*padding-left:5px;
	padding-right:5px;*/
}
.list_item_selected {
	background:#F2F2F2;
	/*padding-left:5px;
	padding-right:5px;*/
}

.list_item {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dashed;
	padding-left:5px;
	padding-right:5px;
	
}
.tags {
	font-size:80%;
	font-style:italic;

}

.expandable_panel_header {
	cursor:pointer;
}

.expandable_panel_header_selected {
	background:#CCCCCC;
}
.expandable_panel {
	border: 1px solid #CCCCCC;	
}

.label {
	font-weight:bold;
}
.inlineStatus {
	font-style:italic;
	
}
.inline-form-inline-help {
	font-size:80%;
	
}
.bolder {
	font-weight:bold;
}
a {
	text-decoration:underline;
	cursor:pointer;
}

a:hover {
	text-decoration:none;
	
}

/************************Start Override GWT Styles*/

.gwt-DisclosurePanel .content {
  border-left: 1px solid #CCCCCC;
  padding: 4px 0px 4px 8px;
  margin-left: 4px;
}





.gwt-TabPanelBottom {

  border-width: 0px;
  border-top-width:1px;
}

.gwt-DecoratedTabBar .tabMiddleCenter {
  font-weight: normal;

}
.gwt-DecoratedTabBar {
	padding:0px;
}

.gwt-TabBar .gwt-TabBarFirst {
  width: 0px;  /* first tab distance from the left */
}

.gwt-DecoratedTabBar .gwt-TabBarFirst {
  width: 0px;  /* first tab distance from the left */
}
/************************End Override GWT Styles*/

